.field {
    margin: 5px;
}

.field input,
.field select {
    background-color: #232227;
    width: 50%;
    margin: 0;
    padding: 3px;
    height: 40%;
    border: 1px solid rgb(236, 226, 226);
    color: whitesmoke;
}

.field label {
    color: whitesmoke;
    width: 40%;
    display: inline-block;
}

#EventTime {
    width: 200px;
    height: 30px;
}

header {
    width: 100vw;
    min-width: 513px;
    display: flex;
    flex-direction: column;
    background-color: #232227;
}

.top {
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    min-width: 513px;
}

.log,
.logout,
.btn {
    cursor: pointer;
    background: #E76642;
    width: 100px;
    height: 24px;
    border: 0;
    color: #ffffff;
    border-radius: 5px;
    margin: 10px;
}

.btnAdd {
    cursor: pointer;
    background: #E76642;
    width: 24px;
    height: 24px;
    border: 0;
    color: #ffffff;
    border-radius: 5px;
    margin: 10px;
}

.log {
    display: none;
}

.login {
    display: none;
    color: white;
    justify-content: flex-end;
    width: 150px;
    margin: 10px;
}

.pass {
    display: none;
    width: 180px;
    color: white;
    justify-content: flex-end;
    margin: 10px;
}

#logged {
    text-align: right;
    float: right;
    width: 180px;
    color: white;
    justify-content: flex-end;
    margin: 10px;
}

#logged:hover {
    text-decoration: underline;
    cursor: pointer;
}

.buttons {
    flex-direction: row;
    flex-wrap: wrap;
}

.homepage,
.add {
    float: left;
    width: 50%;
}

.homepage a,
.add a {
    border-radius: 5px;
    background-color: #232227;
    display: block;
    color: white;
    text-align: center;
    font-size: 1.3em;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.homepage a:hover,
.add a:hover {
    background-color: rgba(70, 69, 68, 0.938);
}

footer {
    background-color: #232227;
    bottom: 0;
    width: 100%;
    height: 60px;
}

body,
html {
    font-family: 'Comfortaa', cursive;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(231, 240, 104);
    min-height: 100%;
    position: relative;
}

.top .pass input,
.top .login input {
    width: 100px;
}

.testForm {
    height: 100wv;
}

fieldset {
    border-radius: 10px;
    border: 0px solid black;
    background-color: #232227;
}

form {
    min-height: 100%;
    position: relative;
}

.formClass {
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: +1;
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 37wv;
}

.addFormBody {
    border-radius: 10px;
    z-index: +1;
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    margin: 20px;
}

.addSpeakerBtn {
    float: right;
}

.eventName {
    width: 100wv;
    font-size: 24px;
    color: #ECECE7;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

#oneMore {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}