body {
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #232227;
    width: 100vw;
    min-width: 513px;
}

.activeYear {
    background-image: url("../img/select.png");
    font-size: 1.4em;
    font-weight: bold;
    padding: 3px;
}

#logout {
    display: none;
}

#logged {
    text-align: right;
    float: right;
    width: 180px;
    color: white;
    justify-content: flex-end;
    margin: 10px;
    display: none;
}

#logged:hover {
    text-decoration: underline;
    cursor: pointer;
}

.hidden {
    display: none;
}

.top {
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    min-width: 513px;
}

.disabled {
    pointer-events: none;
    color: grey !important;
}

.log,
.logout {
    cursor: pointer;
    background: #E76642;
    width: 75px;
    height: 24px;
    border: 0;
    color: #ffffff;
    border-radius: 5px;
    margin: 10px;
}

.login {
    color: white;
    justify-content: flex-end;
    width: 150px;
    margin: 10px;
}

.pass {
    width: 180px;
    color: white;
    justify-content: flex-end;
    margin: 10px;
}

input {
    width: 100px;
}

.buttons {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 513px;
}

.homepage,
.add {
    float: left;
    width: 50%;
}

.homepage a,
.add a {
    border-radius: 5px;
    background-color: #232227;
    display: block;
    color: white;
    text-align: center;
    font-size: 1.3em;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.homepage a:hover,
.add a:hover {
    background-color: rgba(70, 69, 68, 0.938);
}

#accordion ul h1:hover {
    text-decoration: underline;
}

.container-1 {
    display: flex;
    clear: both;
    font-size: 100%;
}

.box-1 {
    flex: 1;
    text-align: right;
    background-image: linear-gradient(-90deg, rgb(231, 240, 104), rgb(231, 191, 9));
    min-height: 800px;
    z-index: +1;
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

#slider {
    width: 30%;
    float: right;
    margin: 5px;
}

.box-2 {
    flex: 6;
    background-color: rgb(231, 240, 104);
    min-height: 100wv;
    content: '';
    float: center;
}

ul {
    min-width: 75px;
    list-style-type: none;
    text-align: right;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-right: 20px;
}

.dayStyle {
    color: red;
    font-size: 50px;
}

.speakerStyle {
    color: black;
    font-style: italic;
}

footer {
    background-color: #232227;
    bottom: 0;
    width: 100wv;
    height: 60px;
}

body,
html {
    font-family: 'Comfortaa', cursive;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(231, 240, 104);
    min-height: 100%;
    position: relative;
}

.year {
    text-align: center;
    font-size: 1.3em;
    min-width: 77px;
}

.year:hover {
    cursor: pointer;
}

.container {
    float: left;
    width: 350px;
    height: 150px;
    perspective: 1000px;
    left: calc(50% - 200px);
    top: calc(50vh - 100px);
    color: whitesmoke;
    margin: 20px;
}

.card {
    float: left;
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s ease;
    cursor: pointer;
    border-radius: 10px;
    content: '';
    z-index: +1;
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

.back,
.front {
    border-radius: 6px;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
}

.contentfront {
    width: 100%;
    height: 100%;
    float: left;
    transform: translatez(60px);
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 10px;
}

.contentback {
    width: 100%;
    height: 100%;
    float: left;
    transform: translatez(-60px);
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 10px;
}

.back {
    transform: rotateY(180deg);
    background-color: #232227;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 5px;
    border-radius: 10px;
    content: '';
    z-index: +1;
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

.front {
    text-transform: uppercase;
    background-color: #232227;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
}

.date {
    height: 100%;
    width: 32%;
    float: left;
    background-color: #E76642;
    border-radius: 0 6px 6px 0;
    text-align: right;
    padding: 10px 30px;
    box-sizing: border-box;
    transform-style: preserve-3d;
}

.datecont {
    height: 100%;
    transform: translatez(60px) scale(.9);
}

#date {
    font-size: 50px;
    color: #ECECE7;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    float: right;
}

#day {
    float: right;
    font-size: 14px;
    color: #232227;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

#month {
    float: right;
    font-size: 10px;
    color: #232227;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

.date i {
    color: #ECECE7;
    position: absolute;
    bottom: 10px;
    right: 0;
}

.date i:hover {
    color: #232227;
    transition: .3s ease;
}

.month {
    height: 100%;
    width: 68%;
    float: left;
    padding: 20px 30px;
    box-sizing: border-box;
}

.month table {
    width: 100%;
}

.orangeTr {
    color: #E76642;
}

.whiteTr {
    color: #ECECE7;
}

.whiteTr th:hover {
    color: #E76642;
    transition: .3s ease;
}

.month tr {
    height: 24px;
}

.month th {
    width: 14%;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.flipped {
    transform: rotateY(-180deg);
    /*height:400px;
    width:200px;
    left:calc(50% - 100px);
    top:calc(50vh - 200px);*/
}

.eventName {
    font-size: 1.6em;
    color: wheat;
}

.eventPlace {
    font-size: 1.1em;
    color: white;
}

.speakers {
    font-size: 0.7em;
}

.speakerTime {
    min-width: 170px;
}

.inputClass {
    width: 400px;
}

table.blueTable {
    background-color: #232227;
    width: 100%;
    height: 150px;
    text-align: center;
    border-collapse: collapse;
}

table.blueTable td,
table.blueTable th {
    padding: 3px 2px;
}

table.blueTable tbody td {
    font-size: 13px;
    color: #FFFFFF;
}

table.blueTable tr:nth-child(even) {
    background: #232227;
}

table.blueTable thead {
    background: #E76642;
    border-bottom: 2px solid #444444;
}

table.blueTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
}

table.blueTable tfoot td {
    font-size: 14px;
}

table.blueTable tfoot .links {
    text-align: right;
}

table.blueTable tfoot .links a {
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}

.rowClass {
    border-radius: 5px;
}

a {
    color: wheat;
}

.titleClass {
    font-style: inherit;
    font-size: 1.3em;
}